#titulo-o-que-fazemos {
  .titulo-o-que-fazemos {
    position: relative;
    background-image: url(./imgs/bg_04.png);
    background-size: cover;
    background-position: center;
    min-height: 750px;
    height: 65vh;
    padding-top: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
      font-family: "Futura Std";
      color: #fff;
      font-size: 6.25em;
      text-align: center;
      letter-spacing: 10px;
      margin: 0;
    }
  }
}

@media screen and (max-width: 991px) {
  #titulo-o-que-fazemos {
    .titulo-o-que-fazemos {
      min-height: 515px;
      height: auto;
      h1 {
        text-align: center;
        padding: 15px;
        font-size: 2.5em;
      }
    }
  }
}
